<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <link rel="icon" href="tab-icon.png">
        <title>Group 7 Project</title>
    </head>
    <body>
        <div align="center">
            <div>
                <h3>[[${message}]]</h3>
            </div>
            <div>
                <img th:src="@{'https://group7-image-bucket.s3.us-west-1.amazonaws.com/'+${uploaded_image}}"/>
            </div>
            <div>
                <a href="/">Back to home page</a>
            </div>
        </div>
    </body>
</html>